<h1>Animals</h1>

<% @animals.each do |animal| %>
	<p><%= animal.name %></p>
<% end %>	

<%# this is a list of all animals (in the shelter and not), which is useful, but not right here. When I click on an animal, how do I make sure it routes to the individual show page vs this index page?) #%>